.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-container div {
    margin: auto;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 16px;
  }
  
  .login-container input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .login-container button {
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0062cc;
  }
  